__pycache__/
pyharmgrav/__pycache__
doc/
pyharmgrav.egg-info/
output/
input_data/EIGEN-6C4.gfc
.ipynb_checkpoints/
pyharmgrav/.ipynb_checkpoints/
crust10_compare.ipynb
invert_Moho.ipynb
invert_Moho_all.ipynb
invert_Moho_simplified_Crust.ipynb
precise_height_anomaly.ipynb
topo_layers_potential.ipynb
topo_layers_potential_v2.ipynb
*.html
*.pyd
.vscode
.codex