# Runtime dependencies
numpy
pyharm>=0.4.9
scipy
h5py
rasterio
threadpoolctl
xarray
rioxarray
netCDF4
PyQt5

# Notebook dependencies
matplotlib
cartopy

# Documentation dependencies
sphinx
sphinx-rtd-theme
